/* Testimonials.css */

.testimonials-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .testimonial {
    flex: 1;
    border-radius: 12px;
    background-color: #3498db;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0.5, 0.5, 0.5, 0.5);
    text-align: center;
    color: #fff;
  }
  
  .testimonial p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .testimonial-author {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #ecf0f1; /* Light gray color */
  }
  